^https?:\/\/zh\.m\.wikipedia\.org\/zh-(hans|tw) url 302 https://zh.m.wikipedia.org/zh-cn

^https?:\/\/zh\.wikipedia\.org\/zh-(hans|tw) url 302 https://zh.wikipedia.org/zh-cn

^https?:\/\/en\.m\.wikipedia\.org url 302 https://zh.m.wikipedia.org

^https?:\/\/en\.wikipedia\.org url 302 https://zh.wikipedia.org

hostname = zh.m.wikipedia.org, zh.wikipedia.org