# Wikipedia 重定向 zh-xx 至 zh-cn
^https?:\/\/zh\.(m\.)?wikipedia\.org\/(zh-(hans|hant|hk|mo|my|sg|tw)|zh(?=/))\/ url 302 https://zh.$1wikipedia.org/zh-cn/

# Apple Support 重定向 zh-xx 至 zh-cn
^https?:\/\/support\.apple\.com\/zh-(hk|mo|sg|tw)\/ url 302 https://support.apple.com/zh-cn/

hostname = zh.m.wikipedia.org, zh.wikipedia.org, support.apple.com
