# Direct
host-suffix, wjx.cn, direct
host-suffix, ele.me, direct
host-suffix, elemecdn.com, direct
host, ocsp.digicert.com, direct
host, sex-positions.online, direct
host-suffix, 10086.cn, direct
host-suffix, linkedin.com, direct
host-suffix, sleepcycle.com, direct
host-suffix, workingcopy.app, direct
host-suffix, mapbox.com, direct
host-suffix, feibing.tech, direct
host-suffix, cn.bing.com, direct
host-suffix, cn.vuejs.com, direct
host-suffix, firefox.com, direct
host-suffix, firefoxusercontent.com, direct
host-suffix, mozilla.org, direct
host-suffix, cubox.pro, direct
host-suffix, termius.com, direct
host-suffix, maxmind.com, direct
host, click.mz.simba.taobao.com, direct
host-suffix, craft.do, direct
host-suffix, sentry.io, direct
host-suffix, quantumult.app, direct
host-suffix, metademolab.com, direct
host-suffix, xiaolian.com, direct
host-suffix, logitech.io, direct
host-suffix, cn, direct
host-suffix, xiaohongshu.com, direct
host-suffix, smzdm.com, direct
host-suffix, autonavi.com, direct
host-suffix, ndmdhs.com, direct
host-suffix, fcbox.com, direct
host-suffix, xycdn.com, direct
host-suffix, jetbrains.com, direct
host-suffix, steamdb.info, direct
host-suffix, ocsp.pki.goog, direct
host-suffix, nobepay.com, direct
host-suffix, warp.dev, direct
host-suffix, dianping.com, direct
host-suffix, taobao.com, direct
host-suffix, pinduoduo.net, direct
host-suffix, pddpic.com, direct
host, depay.hexagramglobal.com, direct
host-suffix, cainiao.com, direct
host-suffix, readpaper.com, direct
host-suffix, ctrip.com, direct
host-suffix, c-ctrip.com, direct
host-suffix, youdao.com, direct
host-suffix, amap.com, direct        
host-suffix, ruanyifeng.com, direct
host-suffix, bugutv.org, direct
host-suffix, sspai.com, direct
host-suffix, javascript.info, direct
host-suffix, souhu.com, direct
host-suffix, mushroomtrack.com, direct

# Proxy
host-suffix, jable.tv, proxy
host, www.googleadservices.com, proxy
host-suffix, gstatic.com, proxy
host-suffix, chinadigitaltimes.net, proxy
host-suffix, sciencedirect.com, proxy
host-suffix, heygen.com, proxy
host, cdn.jsdelivr.net, proxy
host-suffix, openai.com, proxy

# Reject
host-suffix, mnaspm.com, reject
host-suffix, uug27.com, reject
host-suffix, uus52.com, reject
host-suffix, magsrv.com, reject
host-suffix, trackwilltrk.com, reject
host-suffix, labadena.com, reject
host-suffix, shukriya90.com, reject
host-suffix, strp.chat, reject
host-suffix, stripchat.com, reject
host-suffix, stripcdn.com, reject
host-suffix, superchat.live, reject
host-suffix, superchatlive.com, reject
host-suffix, xhamsterlive.com, reject
host-suffix, xlivesex.com, reject
host-suffix, xlivrdr.com, reject
host-suffix, admjmp.com, reject
host-suffix, xxxviijmp.com, reject
host-suffix, xxxviiijmp.com, reject

# 超星
host-suffix, chaoxing.com, direct
ip-cidr, 202.117.115.54/32, direct

# 百度
host-suffix, baidu.com, direct
host-suffix, baike.com, direct
host-suffix, zhihu.com, direct

# BiliBili
host-suffix, bilibili.com, direct
host-suffix, biliapi.com, direct
host-suffix, biliapi.net, direct
host-suffix, bilivideo.com, direct
host-suffix, biliimg.com, direct

# 全球购骑士特权
host-suffix, chuxingyouhui.com, direct

# 美团
host-suffix, meituan.com, direct
host-suffix, meituan.net, direct

# 网易
host-suffix, music.163.com, direct
host-suffix, music.126.net, direct
host-suffix, netease.im, direct

# Pockyt
host-suffix, pockyt.io, direct
host-suffix, yuansfer.com, direct

# 腾讯
host-suffix, qq.com, direct
host-suffix, wx.tenpay.com, direct
host-suffix, tencent.com, direct
host-suffix, weiyun.com, direct

# 抖音
host-suffix, douyin.com, direct
host-suffix, zijieapi.com, direct
host-suffix, amemv.com, direct
host-suffix, bytegecko.com, direct
host-suffix, douyinvod.com, direct
host-suffix, douyinpic.com, direct
host-suffix, bytedance.com, direct

# 简书
host-suffix, jianshu.com, direct
host-suffix, jianshu.io, direct

# 去哪儿网
host-suffix, qunarcdn.com, direct
host-suffix, qunar.com, direct

# 梦境侦探
host-suffix, centurygame.com, direct
host-suffix, funplus.net, direct
host-suffix, unity3d.com, direct

# Microsoft
host-suffix, microsoft.com, direct
host-suffix, s-microsoft.com, direct
host-suffix, microsoftonline.com, direct
host-suffix, visualstudio.com, direct
host-suffix, windows.com, direct
host-suffix, windows.net, direct
host-suffix, msauth.net, direct
host-suffix, msftauth.net, direct
host-suffix, live.com, direct
host-suffix, live.net, direct
host-suffix, gfx.ms, direct
host, vscode-sync.trafficmanager.net, direct
host-suffix, vscode-unpkg.net, direct
host-suffix, sharepoint.com, direct
host-suffix, sharepointonline.com, direct
host-suffix, azure.com, direct
host-suffix, azure.net, direct
host-suffix, ai.azure.com, proxy
host-suffix, azureedge.net, direct
host-suffix, msedge.net, direct
host-suffix, msecnd.net, direct
host-suffix, akamaized.net, direct
host-suffix, windowsazure.com, direct
host-suffix, exp-tas.com, direct
host-suffix, azurewebsites.net, direct
host-suffix, appcenter.ms, direct
host-suffix, wallabyjs.com, direct
host-suffix, paddle.com, direct
host-suffix, onedrive.com, direct
host-suffix, office.com, direct
host-suffix, office.net, direct

# Cloudflare
host-suffix, cloudflare.com, direct
host-suffix, cloudflareinsights.com, direct
host-suffix, cloudflare-cn.com, direct
host-suffix, cloudflare-dns.com, direct

host-suffix, cloudfront.net, direct

# 1Password
host-suffix, 1password.com, direct
host-suffix, agilebits.com, direct

# 欧易
host-suffix, okx.com, direct
host-suffix, okex.com, direct
host-suffix, oklink.com, direct
host, www.okx.com.cdn.cloudflare.net, direct
host, okxweb.pxbmtag.cn, direct
host, wspri.okx.com.cdn.cloudflare.net, direct
host-suffix, gihiji.com.eo.dnse4.com, direct
host-suffix, okx-dns.com, direct
host-suffix, okx-dns1.com, direct
host-suffix, okx-dns2.com, direct
host, api.onesignal.com, direct
host, rmtp-d.sg-light-edge.cdi, direct
host-suffix, helixph.com, direct
host-suffix, amplitude.com, direct
host, rmtp-d.sg-light-edge.com, direct
host-suffix, gnmobile2.com, direct
host, contendvc.cnouyi.pizza, direct
ip-cidr, 8.210.73.205/32, direct
ip-cidr, 47.242.92.56/32, direct

# 币安
host-suffix, bnbstatic.com, direct
host-suffix, binance.com, direct

# 火币
host-suffix, htx.com, direct
host-suffix, htx.com.fj, direct
host-suffix, hbfile.net, direct
host-suffix, huobi.com, direct

# 阿里
host-suffix, aliyun.com, direct
host-suffix, aliyuncs.com, direct
host-suffix, alipayobjects.com, direct
host-suffix, alibaba.com, direct
host-suffix, alicdn.com, direct
host-suffix, alipay.com, direct
host-suffix, aliapp.org, direct

# Apple
host-suffix, apple.com, direct
host, tv.apple.com, direct
host, app.apple.com, direct
host, books.apple.com, direct
host, testflight.apple.com, direct
host, lookup-api.apple.com, direct
host-suffix, smoot.apple.com, direct
host, amp-api.podcasts.apple.com, direct
host, beta.music.apple.com, direct
host, itunes.apple.com, direct
host, books.itunes.apple.com, direct
host, radio.itunes.apple.com, direct
host, uts-api.itunes.apple.com, direct
host, netcts.cdn-apple.com, proxy
host, gateway.icloud.com, direct
host, cable.auth.com, direct
host-suffix, mail.me, direct

# 爱奇艺
host-suffix, qy.net, direct
host-suffix, iqiyi.com, direct
host, intl.iqiyi.com, direct
host, intl-rcd.iqiyi.com, direct
host, intl-subscription.iqiyi.com, direct
host, cache.video.iqiyi.com, direct

# 打车
host-suffix, udache.com, direct
host-suffix, xiaojukeji.com, direct

# GitHub
host, github.com, proxy
host-suffix, ghcr.io, proxy

# Steam
host-suffix, steampowered.com, direct
host-suffix, steamgames.com, direct
host-suffix, steamusercontent, direct
host-suffix, steamcontent.com, direct
host-suffix, steamstatic.com, direct
host-suffix, akamaihd.net, direct
host-suffix, steamcommunity.com, proxy

# Epic Games
host-suffix, epicgames.com, direct
host-suffix, unrealengine.com, direct

# CAPTCHA
host-suffix, hcaptcha.com, direct

# Development
host-suffix, cnblogs.com, direct
host-suffix, leetcode.com, direct
host-suffix, csdn.net, direct
host-suffix, gitcode.net, direct
host-suffix, stackoverflow.com, proxy
host-suffix, serverfault.com, proxy
host-suffix, askubuntu.com, proxy
host-suffix, npmmirror.com, direct
host-suffix, docker.com, proxy
host-suffix, docker.io, proxy
host-suffix, brew.sh, proxy
host-suffix, scoop.sh, proxy
