# Direct
host-suffix, wjx.cn, direct
host-suffix, ele.me, direct
host-suffix, elemecdn.com, direct
host, sex-positions.online, direct
host-suffix, cmpassport.com, direct
host-suffix, linkedin.com, direct
host-suffix, sleepcycle.com, direct
host-suffix, workingcopy.app, direct
host-suffix, feibing.tech, direct
host-suffix, cn.bing.com, direct
host-suffix, cubox.pro, direct
host-suffix, termius.com, direct
host-suffix, maxmind.com, direct
host-suffix, yy.com, direct
host, click.mz.simba.taobao.com, direct
host-suffix, craft.do, direct
host-suffix, quantumult.app, direct
host-suffix, metademolab.com, direct
host-keyword, xiaolian, direct
host-suffix, logitech.io, direct
host-suffix, cn, direct
host-suffix, xiaohongshu.com, direct
host-suffix, smzdm.com, direct
host-suffix, autonavi.com, direct
host-suffix, ndmdhs.com, direct
host-suffix, fcbox.com, direct
host-suffix, xycdn.com, direct
host-suffix, jetbrains.com, direct
host-suffix, steamdb.info, direct
host-suffix, ocsp.pki.goog, direct
host-suffix, nobepay.com, direct
host-suffix, warp.dev, direct
host-suffix, dianping.com, direct
host-suffix, taobao.com, direct
host-suffix, pinduoduo.net, direct
host-suffix, pddpic.com, direct
host-keyword, depay, direct
host-suffix, cainiao.com, direct
host-suffix, readpaper.com, direct
host-keyword, ctrip, direct
host-suffix, youdao.com, direct
host-suffix, amap.com, direct
host-keyword, bugutv, direct
host-suffix, sspai.com, direct
host-suffix, javascript.info, direct
host-suffix, souhu.com, direct
host-suffix, mushroomtrack.com, direct
host-suffix, umeng.com, direct
host-suffix, weibo.com, direct
host-suffix, weibocdn.com, direct
host-suffix, macpaw.com, direct
host-suffix, cleanmymac.com, direct
host-suffix, adtidy.org, direct
host-suffix, easemob.com, direct
host-suffix, ilivedata.com, direct
host-suffix, haidilao.com, direct
host-suffix, hdlcdns.com, direct
host-suffix, kiwa-tech.com, direct
host-suffix, yumchina.com, direct
host-suffix, hwwt8.com, direct
host-suffix, xteko.com, direct
host-suffix, revenuecat.com, direct
host-suffix, qiyutech.tech, direct
host-suffix, mapbox.com, direct
host-suffix, sf-express.com, direct
host-suffix, ximalaya.com, direct
host-suffix, manmanbuy.com, direct
host-suffix, 360buyimg.com, direct
host-suffix, 3ct.cc, direct

# Proxy
host-suffix, jable.tv, proxy
host, www.googleadservices.com, proxy
host-suffix, gstatic.com, proxy
host-suffix, chinadigitaltimes.net, proxy
host-suffix, sciencedirect.com, proxy
host-suffix, heygen.com, proxy
host, cdn.jsdelivr.net, proxy
host-suffix, rockstargames.com, proxy
host-suffix, spotify.com, proxy
host-suffix, spotifycdn.com, proxy
host-suffix, inoreader.com, proxy

# Reject
host-suffix, mnaspm.com, reject
host-suffix, uug27.com, reject
host-suffix, uus52.com, reject
host-suffix, magsrv.com, reject
host-suffix, trackwilltrk.com, reject
host-suffix, labadena.com, reject
host-suffix, shukriya90.com, reject
host-suffix, strp.chat, reject
host-suffix, stripchat.com, reject
host-suffix, stripcdn.com, reject
host-suffix, superchat.live, reject
host-suffix, superchatlive.com, reject
host-suffix, xhamsterlive.com, reject
host-suffix, xlivesex.com, reject
host-suffix, xlivrdr.com, reject
host-suffix, admjmp.com, reject
host-suffix, xxxviijmp.com, reject
host-suffix, xxxviiijmp.com, reject

# 阿里
host-keyword, aliyun, direct
host-suffix, alipayobjects.com, direct
host-suffix, alibaba.com, direct
host-suffix, alicdn.com, direct
host-suffix, alipay.com, direct
host-suffix, aliapp.org, direct
host-suffix, alidns.com, direct
host-suffix, hdslb.com, direct
host-suffix, apitd.net, direct
host-suffix, bsccdn.net, direct
host-suffix, cibntv.net, direct
host-suffix, hzshudian.com, direct
host-suffix, ucweb.com, direct
host-suffix, volcsirius.com, direct
host-suffix, volcsiriusbd.com, direct
host-suffix, ecombdapi.com, direct
host-suffix, alibabachengdun.com, direct
host-suffix, alibabausercontent.com, direct
host-suffix, taopiaopiao.com, direct
host-suffix, searchpstatp.com, direct
host-suffix, dingtalk.com, direct

# 腾讯
host-suffix, qq.com, direct
host-suffix, wx.tenpay.com, direct
host-suffix, tencent.com, direct
host-suffix, weiyun.com, direct
host-suffix, smtcdns.com, direct
host-suffix, myqcloud.com, direct
host-suffix, myapp.com, direct
host-suffix, gtimg.com, direct
host-suffix, qcloud.com, direct
host-suffix, qcloudimg.com, direct
host-keyword, wechat, direct
ip-cidr, 36.42.247.93/32, direct

# 百度
host-suffix, baidu.com, direct
host-suffix, baike.com, direct
host-suffix, zhihu.com, direct
host-suffix, zhimg.com, direct
host-suffix, bdimg.com, direct
host-suffix, bcebos.com, direct
host-suffix, bdstatic.com, direct

# 字节
host-suffix, douyin.com, direct
host-suffix, douyinvod.com, direct
host-suffix, douyinpic.com, direct
host-suffix, douyincdn.com, direct
host-suffix, douyinstatic.com, direct
host-suffix, iesdouyin.com, direct
host-suffix, zijieapi.com, direct
host-suffix, amemv.com, direct
host-suffix, bytedance.com, direct
host-suffix, bytednsdoc.com, direct
host-suffix, bytegecko.com, direct
host-suffix, bytemastatic.com, direct
host-suffix, bytegoofy.com, direct
host-suffix, bytetos.com, direct
host-suffix, bytescm.com, direct
host-suffix, byteimg.com, direct
host-suffix, ibytedapm.com, direct
host-suffix, volces.com, direct
host-keyword, toutiao, direct
host-suffix, bsccdn.net, direct
host-suffix, bdurl.net, direct
host-suffix, pstatp.com, direct
host-suffix, snssdk.com, direct
host-suffix, ctobsnssdk.com, direct

# 快手
host-suffix, kuaishou.com, direct
host-suffix, gifshow.com, direct

# 拼多多
host-suffix, pddugc.com, direct
host-suffix, pinduoduo.com, direct
host-suffix, yangkeduo.com, direct

# BiliBili
host-suffix, bilibili.com, direct
host-suffix, biliapi.com, direct
host-suffix, biliapi.net, direct
host-suffix, bilivideo.com, direct
host-suffix, biliimg.com, direct
host-suffix, biligame.com, direct

# 美团
host-suffix, meituan.com, direct
host-suffix, meituan.net, direct

# 网易
host-suffix, 163.com, direct
host-suffix, 126.net, direct
host-suffix, 127.net, direct
host-suffix, qiyukf.com, direct
host-suffix, ydstatic.com, direct

# 超星
host-keyword, chaoxing, direct
ip-cidr, 202.117.115.54/32, direct

# 全球购骑士特权
host-suffix, chuxingyouhui.com, direct

# 简书
host-suffix, jianshu.com, direct
host-suffix, jianshu.io, direct

# 去哪儿网
host-suffix, qunarcdn.com, direct
host-suffix, qunar.com, direct

# 梦境侦探
host-suffix, centurygame.com, direct
host-suffix, anythinktech.com, direct
host-suffix, funplus.net, direct
host-suffix, unity3d.com, direct

# 流媒体
host-suffix, qy.net, direct
host-suffix, iqiyi.com, direct
host, intl.iqiyi.com, direct
host, intl-rcd.iqiyi.com, direct
host, intl-subscription.iqiyi.com, direct
host, cache.video.iqiyi.com, direct
host-suffix, youku.com, direct

# 打车
host-suffix, udache.com, direct
host-suffix, xiaojukeji.com, direct
host-suffix, didistatic.com, direct

# Keep
host-suffix, keepcdn.com, direct
host-suffix, gotokeep.com, direct
host-suffix, calorietech.com, direct
host-suffix, netease.im, direct
ip-cidr, 42.187.199.248/32, direct
ip-cidr, 59.111.179.214/32, direct
ip-cidr, 42.187.199.248/32, direct

# 欧易
host-suffix, okx.com, direct
host-suffix, okex.com, direct
host-suffix, oklink.com, direct
host, www.okx.com.cdn.cloudflare.net, direct
host, wspri.okx.com.cdn.cloudflare.net, direct
host-suffix, gihiji.com.eo.dnse4.com, direct
host, api.onesignal.com, direct
host, rmtp-d.sg-light-edge.cdi, direct
host-suffix, helixph.com, direct
host-suffix, amplitude.com, direct
host, rmtp-d.sg-light-edge.com, direct
host, contendvc.cnouyi.pizza, direct
host-keyword, gnmobile, direct
host-keyword, okx-dns, direct
ip-cidr, 8.210.73.205/32, direct
ip-cidr, 47.242.92.56/32, direct

# 币安
host-suffix, bnbstatic.com, direct
host-suffix, binance.com, direct

# 火币
host-suffix, htx.com, direct
host-suffix, htx.com.fj, direct
host-suffix, hbfile.net, direct
host-suffix, huobi.com, direct

# Apple
host-suffix, apple.com, direct
host-suffix, icloud.com, direct
host, tv.apple.com, direct
host, app.apple.com, direct
host, books.apple.com, direct
host, testflight.apple.com, direct
host, lookup-api.apple.com, direct
host-suffix, smoot.apple.com, direct
host, amp-api.podcasts.apple.com, direct
host, beta.music.apple.com, direct
host, itunes.apple.com, direct
host, books.itunes.apple.com, direct
host, radio.itunes.apple.com, direct
host, uts-api.itunes.apple.com, direct
# Wi-Fi 连通性检测
host, netcts.cdn-apple.com, proxy
host, gateway.icloud.com, direct
host, cable.auth.com, direct
host-suffix, mail.me.com, direct

# Microsoft
host-suffix, microsoft.com, direct
host-suffix, s-microsoft.com, direct
host-suffix, microsoftonline.com, direct
host-suffix, visualstudio.com, direct
host-suffix, windows.com, direct
host-suffix, windows.net, direct
host-suffix, msauth.net, direct
host-suffix, msftauth.net, direct
host-suffix, live.com, direct
host-suffix, live.net, direct
host-suffix, gfx.ms, direct
host, vscode-sync.trafficmanager.net, direct
host-suffix, vscode-unpkg.net, direct
host-suffix, sharepoint.com, direct
host-suffix, sharepointonline.com, direct
host-suffix, azure.com, direct
host-suffix, azure.net, direct
host-suffix, ai.azure.com, proxy
host-suffix, azureedge.net, direct
host-suffix, msedge.net, direct
host-suffix, msecnd.net, direct
host-suffix, akamaized.net, direct
host-suffix, windowsazure.com, direct
host-suffix, exp-tas.com, direct
host-suffix, azurewebsites.net, direct
host-suffix, appcenter.ms, direct
host-suffix, wallabyjs.com, direct
host-suffix, paddle.com, direct
host-suffix, onedrive.com, direct
host-suffix, office.com, direct
host-suffix, office.net, direct

# Cloudflare
host-suffix, cloudflare.com, direct
host-suffix, cloudflareinsights.com, direct
host-suffix, cloudflare-cn.com, direct
host-suffix, cloudflare-dns.com, direct

# Amazon
host-suffix, amazonaws.com, direct
host-suffix, cloudfront.net, direct

# 1Password
host-suffix, 1password.com, direct
host-suffix, agilebits.com, direct

# Steam
host-suffix, steampowered.com, direct
host-suffix, steamgames.com, direct
host-suffix, steamusercontent, direct
host-suffix, steamcontent.com, direct
host-suffix, steamstatic.com, direct
host-suffix, akamaihd.net, direct
host-suffix, steamcommunity.com, proxy

# Epic Games
host-keyword, epicgames, direct
host-suffix, unrealengine.com, direct

# Pockyt
host-suffix, pockyt.io, direct
host-suffix, yuansfer.com, direct

# CAPTCHA
host-suffix, hcaptcha.com, direct
host-suffix, recaptcha.net, direct

# CA
host, ocsp.digicert.com, direct
host-suffix, globalsign.com, direct

# AI
host, chatgpt.livekit.cloud, proxy
host, static.cloudflareinsights.com, proxy
host-suffix, ai.com, proxy
host-suffix, algolia.net, proxy
host-suffix, api.statsig.com, proxy
host-suffix, auth0.com, proxy
host-suffix, cdn.cloudflare.net, proxy
host-suffix, challenges.cloudflare.com, proxy
host-suffix, client-api.arkoselabs.com, proxy
host-suffix, events.statsigapi.net, proxy
host-suffix, featuregates.org, proxy
host-suffix, identrust.com, proxy
host-suffix, intercom.io, proxy
host-suffix, intercomcdn.com, proxy
host-suffix, launchdarkly.com, proxy
host-suffix, oaistatic.com, proxy
host-suffix, oaiusercontent.com, proxy
host-suffix, observeit.net, proxy
host-suffix, poe.com, proxy
host-suffix, segment.io, proxy
host-suffix, sentry.io, proxy
host-suffix, stripe.com, proxy
host-keyword, openai, proxy

# Development
host-suffix, csdn.net, direct
host-suffix, gitcode.net, direct
host-suffix, runoob.com, direct
host-suffix, biancheng.net, direct
host-suffix, ruanyifeng.com, direct
host-suffix, liaoxuefeng.com, direct
host-suffix, oschina.net, direct
host-suffix, gitee.com, direct
host-suffix, cnblogs.com, direct
host-suffix, npmmirror.com, direct
host-suffix, cn.vuejs.com, direct
host-keyword, firefox, direct
host-keyword, mozilla, direct
host-suffix, github.com, proxy
host-suffix, github.dev, proxy
host-suffix, githubusercontent.com, proxy
host-suffix, ghcr.io, proxy
host-suffix, brew.sh, proxy
host-suffix, scoop.sh, proxy
host-suffix, gitlab.com, proxy
host-suffix, kaggle.com, proxy
host-suffix, leetcode.com, proxy
host-suffix, stackexchange.com, proxy
host-suffix, stackoverflow.com, proxy
host-suffix, serverfault.com, proxy
host-suffix, askubuntu.com, proxy
host-suffix, docker.com, proxy
host-suffix, docker.io, proxy
host-suffix, pypi.org, proxy
host-suffix, bitbucket.org, proxy
host-suffix, alpinelinux.org, proxy
