# Direct
host-suffix, wjx.cn, direct
host-suffix, ele.me, direct
host-suffix, elemecdn.com, direct
host, sex-positions.online, direct
host-suffix, cmpassport.com, direct
host-suffix, linkedin.com, direct
host-suffix, sleepcycle.com, direct
host-suffix, workingcopy.app, direct
host-suffix, feibing.tech, direct
host-suffix, cn.bing.com, direct
host-suffix, cubox.pro, direct
host-suffix, termius.com, direct
host-suffix, maxmind.com, direct
host-suffix, yy.com, direct
host, click.mz.simba.taobao.com, direct
host-suffix, craft.do, direct
host-suffix, quantumult.app, direct
host-suffix, metademolab.com, direct
host-keyword, xiaolian, direct
host-suffix, logitech.io, direct
host-suffix, cn, direct
host-suffix, xiaohongshu.com, direct
host-suffix, xhslink.com, direct
host-suffix, xhscdn.com, direct
host-suffix, xhscdn.net, direct
host-suffix, smzdm.com, direct
host-suffix, autonavi.com, direct
host-suffix, ndmdhs.com, direct
host-suffix, fcbox.com, direct
host-suffix, xycdn.com, direct
host-suffix, jetbrains.com, direct
host-suffix, steamdb.info, direct
host-suffix, ocsp.pki.goog, direct
host-suffix, nobepay.com, direct
host-suffix, warp.dev, direct
host-suffix, dianping.com, direct
host-suffix, pinduoduo.net, direct
host-suffix, pddpic.com, direct
host-keyword, depay, direct
host-suffix, cainiao.com, direct
host-suffix, readpaper.com, direct
host-keyword, ctrip, direct
host-suffix, youdao.com, direct
host-suffix, amap.com, direct
host-keyword, bugutv, direct
host-suffix, sspai.com, direct
host-suffix, javascript.info, direct
host-suffix, souhu.com, direct
host-suffix, mushroomtrack.com, direct
host-suffix, umeng.com, direct
host-suffix, weibo.com, direct
host-suffix, weibocdn.com, direct
host-suffix, macpaw.com, direct
host-suffix, cleanmymac.com, direct
host-suffix, adtidy.org, direct
host-suffix, easemob.com, direct
host-suffix, ilivedata.com, direct
host-suffix, haidilao.com, direct
host-suffix, hdlcdns.com, direct
host-suffix, kiwa-tech.com, direct
host-suffix, yumchina.com, direct
host-suffix, hwwt8.com, direct
host-suffix, xteko.com, direct
host-suffix, revenuecat.com, direct
host-suffix, qiyutech.tech, direct
host-suffix, mapbox.com, direct
host-suffix, sf-express.com, direct
host-suffix, ximalaya.com, direct
host-suffix, manmanbuy.com, direct
host-suffix, 360buyimg.com, direct
host-suffix, 3ct.cc, direct
host-suffix, bootcdn.net, direct
host-suffix, bobtranslate.com, direct
host-suffix, baimiaoapp.com, direct
host-suffix, doh.pub, direct
host-suffix, afdian.net, direct
host-suffix, afdiancdn.com, direct
host-suffix, playstation.com, direct
host-suffix, sony.com, direct
host-suffix, sony-semicon.com, direct
host-suffix, sonyentertainmentnetwork.com, direct
host-suffix, sonynetworkentertain.tt.omtrdc.net, direct
host-suffix, evergage.com, direct
host-suffix, cdntips.net, direct
host-suffix, nio.com, direct
host-suffix, gmud.top, direct
host-suffix, dxmpay.com, direct
host-suffix, max-c.com, direct
host-suffix, xdplt.com, direct
host-suffix, black-unique.com, direct
host-suffix, dpfile.com, direct
host-suffix, tec73.com, direct
host-suffix, myhuaweicloud.com, direct
host-suffix, aikucun.com, direct
host-suffix, jd.com, direct
host-suffix, hzchengdun.com, direct
host-suffix, quthing.com, direct
host-suffix, xinhuanet.com, direct
host-suffix, chinaz.com, direct
host-suffix, wejianzhan.com, direct
host-suffix, lingwh.com, direct
host-suffix, linghit.com, direct
host-suffix, tengzhihh.com, direct
host-suffix, caij100.com, direct
host-suffix, qbox.me, direct
host-suffix, qiniup.com, direct
host-suffix, megvii.com, direct
host-suffix, sentry.io, direct
host-suffix, stripe.com, direct
host-suffix, stripe.network, direct
host-suffix, greasyfork.org, direct

# IP-CIDR
ip-cidr, 1.58.186.226/32, direct
ip-cidr, 8.134.241.67/32, direct
ip-cidr, 36.143.101.211/32, direct
ip-cidr, 39.137.10.78/32, direct
ip-cidr, 39.137.10.80/32, direct
ip-cidr, 39.137.15.97/32, direct
ip-cidr, 39.137.15.101/32, direct
ip-cidr, 39.156.66.178/32, direct
ip-cidr, 39.162.178.100/32, direct
ip-cidr, 42.53.62.147/32, direct
ip-cidr, 47.97.124.22/32, direct
ip-cidr, 47.98.188.132/32, direct
ip-cidr, 47.99.54.158/32, direct
ip-cidr, 49.71.101.83/32, direct
ip-cidr, 58.240.69.67/32, direct
ip-cidr, 58.247.224.109/32, direct
ip-cidr, 59.82.43.12/32, direct
ip-cidr, 59.111.179.213/32, direct
ip-cidr, 59.111.239.61/32, direct
ip-cidr, 59.111.239.62/32, direct
ip-cidr, 60.28.172.233/32, direct
ip-cidr, 60.29.242.161/32, direct
ip-cidr, 60.221.21.149/32, direct
ip-cidr, 101.42.127.238/32, direct
ip-cidr, 101.50.8.60/32, direct
ip-cidr, 101.50.8.75/32, direct
ip-cidr, 101.236.69.75/32, direct
ip-cidr, 101.236.12.59/32, direct
ip-cidr, 103.37.155.60/32, direct
ip-cidr, 103.63.160.60/32, direct
ip-cidr, 103.63.160.80/32, direct
ip-cidr, 103.202.146.20/32, direct
ip-cidr, 106.119.83.35/32, direct
ip-cidr, 110.242.68.141/32, direct
ip-cidr, 111.19.235.6/32, direct
ip-cidr, 111.113.72.36/32, direct
ip-cidr, 111.206.149.168/32, direct
ip-cidr, 111.206.209.43/32, direct
ip-cidr, 111.230.0.200/32, direct
ip-cidr, 112.3.195.195/32, direct
ip-cidr, 112.13.122.49/32, direct
ip-cidr, 112.34.111.194/32, direct
ip-cidr, 112.46.36.1/32, direct
ip-cidr, 112.46.158.102/32, direct
ip-cidr, 112.46.226.93/32, direct
ip-cidr, 112.46.224.95/32, direct
ip-cidr, 112.46.224.138/32, direct
ip-cidr, 112.53.48.40/32, direct
ip-cidr, 112.53.48.125/32, direct
ip-cidr, 112.53.55.211/32, direct
ip-cidr, 112.53.55.225/32, direct
ip-cidr, 112.82.95.224/32, direct
ip-cidr, 112.86.53.195/32, direct
ip-cidr, 112.132.225.191/32, direct
ip-cidr, 112.132.225.218/32, direct
ip-cidr, 112.132.225.220/32, direct
ip-cidr, 112.132.225.239/32, direct
ip-cidr, 113.200.132.127/32, direct
ip-cidr, 113.200.137.168/32, direct
ip-cidr, 113.201.124.241/32, direct
ip-cidr, 113.201.145.36/32, direct
ip-cidr, 113.201.154.245/32, direct
ip-cidr, 113.207.69.34/32, direct
ip-cidr, 114.240.231.227/32, direct
ip-cidr, 116.85.2.4/32, direct
ip-cidr, 116.85.2.5/32, direct
ip-cidr, 116.85.2.51/32, direct
ip-cidr, 116.85.2.14/32, direct
ip-cidr, 116.85.2.15/32, direct
ip-cidr, 116.85.2.21/32, direct
ip-cidr, 116.85.2.22/32, direct
ip-cidr, 116.85.3.12/32, direct
ip-cidr, 116.176.114.141/32, direct
ip-cidr, 116.177.242.17/32, direct
ip-cidr, 116.177.242.26/32, direct
ip-cidr, 116.177.242.27/32, direct
ip-cidr, 116.177.242.142/32, direct
ip-cidr, 116.177.242.180/32, direct
ip-cidr, 116.177.250.185/32, direct
ip-cidr, 119.29.29.98/32, direct
ip-cidr, 119.167.131.87/32, direct
ip-cidr, 119.167.131.92/32, direct
ip-cidr, 119.167.131.97/32, direct
ip-cidr, 119.167.131.175/32, direct
ip-cidr, 119.188.149.153/32, direct
ip-cidr, 119.188.150.200/32, direct
ip-cidr, 120.232.51.42/32, direct
ip-cidr, 120.232.51.126/32, direct
ip-cidr, 120.233.22.42/32, direct
ip-cidr, 120.233.22.112/32, direct
ip-cidr, 120.240.87.32/32, direct
ip-cidr, 120.241.142.9/32, direct
ip-cidr, 120.241.142.11/32, direct
ip-cidr, 120.241.142.12/32, direct
ip-cidr, 120.241.142.13/32, direct
ip-cidr, 120.241.142.18/32, direct
ip-cidr, 120.241.142.19/32, direct
ip-cidr, 120.241.143.11/32, direct
ip-cidr, 120.241.143.6/32, direct
ip-cidr, 123.6.21.220/32, direct
ip-cidr, 123.6.72.7/32, direct
ip-cidr, 123.125.0.161/32, direct
ip-cidr, 123.138.255.5/32, direct
ip-cidr, 123.172.181.35/32, direct
ip-cidr, 123.207.209.39/32, direct
ip-cidr, 123.207.209.41/32, direct
ip-cidr, 123.207.209.42/32, direct
ip-cidr, 123.207.209.56/32, direct
ip-cidr, 123.207.209.57/32, direct
ip-cidr, 123.207.209.60/32, direct
ip-cidr, 123.207.209.142/32, direct
ip-cidr, 123.207.209.143/32, direct
ip-cidr, 123.207.209.160/32, direct
ip-cidr, 123.207.209.177/32, direct
ip-cidr, 124.89.77.228/32, direct
ip-cidr, 124.163.196.15/32, direct
ip-cidr, 124.163.196.239/32, direct
ip-cidr, 139.226.125.48/32, direct
ip-cidr, 139.227.85.206/32, direct
ip-cidr, 153.3.237.32/32, direct
ip-cidr, 157.148.49.66/32, direct
ip-cidr, 157.148.49.253/32, direct
ip-cidr, 157.148.59.148/32, direct
ip-cidr, 157.148.59.238/32, direct
ip-cidr, 157.148.59.240/32, direct
ip-cidr, 157.148.61.140/32, direct
ip-cidr, 157.148.61.149/32, direct
ip-cidr, 157.148.62.149/32, direct
ip-cidr, 157.148.62.239/32, direct
ip-cidr, 157.255.191.88/32, direct
ip-cidr, 157.255.191.89/32, direct
ip-cidr, 157.255.209.219/32, direct
ip-cidr, 180.76.76.112/32, direct
ip-cidr, 180.76.76.200/32, direct
ip-cidr, 182.107.16.126/32, direct
ip-cidr, 182.125.172.24/32, direct
ip-cidr, 183.199.237.154/32, direct
ip-cidr, 183.201.80.36/32, direct
ip-cidr, 183.201.80.120/32, direct
ip-cidr, 183.209.113.223/32, direct
ip-cidr, 202.90.108.13/32, direct
ip-cidr, 203.119.169.169/32, direct
ip-cidr, 218.7.119.209/32, direct
ip-cidr, 218.24.77.137/32, direct
ip-cidr, 220.194.118.236/32, direct
ip-cidr, 220.194.122.104/32, direct
ip-cidr, 220.194.122.119/32, direct
ip-cidr, 221.203.6.102/32, direct
ip-cidr, 222.136.90.139/32, direct
ip-cidr, 222.141.4.36/32, direct
ip-cidr, 223.88.132.217/32, direct
ip-cidr, 223.167.74.77/32, direct

# Proxy
host-suffix, jable.tv, proxy
host, www.googleadservices.com, proxy
host-suffix, gstatic.com, proxy
host-suffix, chinadigitaltimes.net, proxy
host-suffix, sciencedirect.com, proxy
host-suffix, heygen.com, proxy
host, cdn.jsdelivr.net, proxy
host-suffix, rockstargames.com, proxy
host-suffix, spotify.com, proxy
host-suffix, spotifycdn.com, proxy
host-suffix, inoreader.com, proxy
host-suffix, sms-activate.org, proxy
host-suffix, ifttt.com, proxy
host-suffix, fonts.net, proxy
host-suffix, fonts.com, proxy
host-suffix, stripocdn.email, proxy
host-suffix, mandrillapp.com, proxy
host-suffix, canny.io, proxy
host-suffix, wikifunctions.org, proxy
host-keyword, purevpn, proxy
host-suffix, projectlombok.org, proxy
host-suffix, marsflag.com, proxy
host-suffix, cookielaw.org, proxy
host-suffix, adobedtm.com, proxy
host-suffix, songshuhui.net, proxy
host-keyword, .z-library., proxy
host-keyword, .1lib., proxy
host-suffix, meta, proxy

# Reject
host-suffix, mnaspm.com, reject
host-suffix, uug27.com, reject
host-suffix, uus52.com, reject
host-suffix, magsrv.com, reject
host-suffix, trackwilltrk.com, reject
host-suffix, labadena.com, reject
host-suffix, shukriya90.com, reject
host-suffix, strp.chat, reject
host-suffix, stripchat.com, reject
host-suffix, stripcdn.com, reject
host-suffix, superchat.live, reject
host-suffix, superchatlive.com, reject
host-suffix, xhamsterlive.com, reject
host-suffix, xlivesex.com, reject
host-suffix, xlivrdr.com, reject
host-suffix, admjmp.com, reject
host-suffix, xxxviijmp.com, reject
host-suffix, xxxviiijmp.com, reject

# 阿里
host-keyword, aliyun, direct
host-suffix, alipayobjects.com, direct
host-suffix, alibaba.com, direct
host-suffix, alicdn.com, direct
host-suffix, alipay.com, direct
host-suffix, aliapp.org, direct
host-suffix, alipan.com, direct
host-suffix, alidns.com, direct
host-suffix, taobao.com, direct
host-suffix, tmall.com, direct
host-suffix, hdslb.com, direct
host-suffix, apitd.net, direct
host-suffix, bsccdn.net, direct
host-suffix, cibntv.net, direct
host-suffix, hzshudian.com, direct
host-suffix, ucweb.com, direct
host-suffix, volcsirius.com, direct
host-suffix, volcsiriusbd.com, direct
host-suffix, ecombdapi.com, direct
host-suffix, alibabachengdun.com, direct
host-suffix, alibabausercontent.com, direct
host-suffix, taopiaopiao.com, direct
host-suffix, searchpstatp.com, direct
host-suffix, dingtalk.com, direct

# 腾讯
host-suffix, qq.com, direct
host-suffix, idqqimg.com, direct
host-suffix, tenpay.com, direct
host-suffix, weiyun.com, direct
host-suffix, smtcdns.com, direct
host-suffix, myqcloud.com, direct
host-suffix, myapp.com, direct
host-suffix, gtimg.com, direct
host-suffix, qcloud.com, direct
host-suffix, qcloudimg.com, direct
host-keyword, wechat, direct
host-keyword, weixin, direct
host-keyword, tencent, direct
ip-cidr, 36.42.247.93/32, direct

# 百度
host-suffix, baidu.com, direct
host-suffix, baike.com, direct
host-suffix, zhihu.com, direct
host-suffix, zhimg.com, direct
host-suffix, bdimg.com, direct
host-suffix, bcebos.com, direct
host-suffix, bdstatic.com, direct
host-suffix, jomoxc.com, direct
host-suffix, duxiaomanfintech.com, direct

# 字节
host-suffix, douyin.com, direct
host-suffix, douyinvod.com, direct
host-suffix, douyinpic.com, direct
host-suffix, douyincdn.com, direct
host-suffix, douyinstatic.com, direct
host-suffix, iesdouyin.com, direct
host-suffix, zijieapi.com, direct
host-suffix, amemv.com, direct
host-suffix, bytedance.com, direct
host-suffix, bytednsdoc.com, direct
host-suffix, bytegecko.com, direct
host-suffix, bytemastatic.com, direct
host-suffix, bytegoofy.com, direct
host-suffix, bytetos.com, direct
host-suffix, bytescm.com, direct
host-suffix, byteimg.com, direct
host-suffix, byteeffecttos.com, direct
host-suffix, byte-gslb.com, direct
host-suffix, byteorge.com, direct
host-suffix, ibytedapm.com, direct
host-suffix, volces.com, direct
host-keyword, toutiao, direct
host-suffix, bsccdn.net, direct
host-suffix, bdurl.net, direct
host-suffix, pstatp.com, direct
host-suffix, snssdk.com, direct
host-suffix, ctobsnssdk.com, direct
host-suffix, ecombdimg.com, direct
host-suffix, ecombdstatic.com, direct
host-suffix, bytemaimg.com, direct
host-suffix, dailygn.com, direct

# 快手
host-suffix, kuaishou.com, direct
host-suffix, gifshow.com, direct

# 拼多多
host-suffix, pddugc.com, direct
host-suffix, pinduoduo.com, direct
host-suffix, yangkeduo.com, direct

# BiliBili
host-suffix, bilibili.com, direct
host-suffix, biliapi.com, direct
host-suffix, biliapi.net, direct
host-suffix, bilivideo.com, direct
host-suffix, biliimg.com, direct
host-suffix, biligame.com, direct

# 美团
host-suffix, meituan.com, direct
host-suffix, meituan.net, direct

# 网易
host-suffix, 163.com, direct
host-suffix, 126.net, direct
host-suffix, 127.net, direct
host-suffix, qiyukf.com, direct
host-suffix, ydstatic.com, direct

# 超星
host-keyword, chaoxing, direct
ip-cidr, 202.117.115.54/32, direct

# 全球购骑士特权
host-suffix, chuxingyouhui.com, direct

# 简书
host-suffix, jianshu.com, direct
host-suffix, jianshu.io, direct

# 去哪儿网
host-suffix, qunarcdn.com, direct
host-suffix, qunar.com, direct

# 梦境侦探
host-suffix, centurygame.com, direct
host-suffix, anythinktech.com, direct
host-suffix, funplus.net, direct
host-suffix, unity3d.com, direct

# 流媒体
host-suffix, qy.net, direct
host-suffix, iqiyi.com, direct
host, intl.iqiyi.com, direct
host, intl-rcd.iqiyi.com, direct
host, intl-subscription.iqiyi.com, direct
host, cache.video.iqiyi.com, direct
host-suffix, youku.com, direct

# 打车
host-suffix, udache.com, direct
host-suffix, xiaojukeji.com, direct
host-suffix, didistatic.com, direct
host-suffix, didialift.com, direct

# Keep
host-suffix, keepcdn.com, direct
host-suffix, gotokeep.com, direct
host-suffix, calorietech.com, direct
host-suffix, netease.im, direct
ip-cidr, 42.187.199.248/32, direct
ip-cidr, 59.111.179.214/32, direct
ip-cidr, 42.187.199.248/32, direct

# 欧易
host-suffix, okx.com, direct
host-keyword, .okx., direct
host-suffix, okex.com, direct
host-suffix, oklink.com, direct
host-suffix, gihiji.com.eo.dnse4.com, direct
host, api.onesignal.com, direct
host, rmtp-d.sg-light-edge.cdi, direct
host-suffix, helixph.com, direct
host-suffix, amplitude.com, direct
host, rmtp-d.sg-light-edge.com, direct
host, contendvc.cnouyi.pizza, direct
host-keyword, gnmobile, direct
host-keyword, okx-dns, direct
ip-cidr, 8.210.73.205/32, direct
ip-cidr, 47.242.92.56/32, direct

# 币安
host-suffix, bnbstatic.com, direct
host-suffix, binance.com, direct

# 火币
host-suffix, htx.com, direct
host-suffix, htx.com.fj, direct
host-suffix, hbfile.net, direct
host-suffix, huobi.com, direct

# Apple
host-suffix, apple.com, direct
host-suffix, icloud.com, direct
host-suffix, icloud-content.com, direct
host, tv.apple.com, direct
host, app.apple.com, direct
host, books.apple.com, direct
host, testflight.apple.com, direct
host, lookup-api.apple.com, direct
host-suffix, smoot.apple.com, direct
host, amp-api.podcasts.apple.com, direct
host, beta.music.apple.com, direct
host, itunes.apple.com, direct
host, books.itunes.apple.com, direct
host, radio.itunes.apple.com, direct
host, uts-api.itunes.apple.com, direct
# Wi-Fi 连通性检测
host, netcts.cdn-apple.com, proxy
host, gateway.icloud.com, direct
host, cable.auth.com, direct
host-suffix, mail.me.com, direct

# Microsoft
host-suffix, microsoft.com, direct
host-suffix, s-microsoft.com, direct
host-suffix, microsoftonline.com, direct
host-suffix, visualstudio.com, direct
host-suffix, windows.com, direct
host-suffix, windows.net, direct
host-suffix, msauth.net, direct
host-suffix, msftauth.net, direct
host-suffix, live.com, direct
host-suffix, live.net, direct
host-suffix, gfx.ms, direct
host, vscode-sync.trafficmanager.net, direct
host-suffix, vscode-unpkg.net, direct
host-suffix, vscode-cdn.net, direct
host-suffix, vsassets.io, direct
host-suffix, sharepoint.com, direct
host-suffix, sharepointonline.com, direct
host-suffix, azure.com, direct
host-suffix, azure.net, direct
host-suffix, ai.azure.com, proxy
host-suffix, azureedge.net, direct
host-suffix, msedge.net, direct
host-suffix, msecnd.net, direct
host-suffix, akamaized.net, direct
host-suffix, windowsazure.com, direct
host-suffix, exp-tas.com, direct
host-suffix, azurewebsites.net, direct
host-suffix, appcenter.ms, direct
host-suffix, wallabyjs.com, direct
host-suffix, paddle.com, direct
host-suffix, onedrive.com, direct
host-suffix, office.com, direct
host-suffix, office.net, direct
host-suffix, skype.com, direct
host-suffix, xbox.com, direct
host-suffix, xboxservices.com, direct
host-suffix, xboxlive.com, proxy
host-suffix, onestore.ms, proxy
host-suffix, dynamics.com, proxy
host-suffix, clarity.ms, proxy
host-suffix, aspnetcdn.com, direct
host-suffix, surface.com, direct
host-suffix, store-images.microsoft.com, proxy
host-suffix, c1.microsoft.com, proxy

# Cloudflare
host-suffix, cloudflare.com, direct
host-suffix, cloudflareinsights.com, direct
host-suffix, cloudflare-cn.com, direct
host-suffix, cloudflare-dns.com, direct

# Amazon
host-suffix, amazonaws.com, direct
host-suffix, cloudfront.net, direct

# 1Password
host-suffix, 1password.com, direct
host-suffix, agilebits.com, direct

# Steam
host-suffix, steampowered.com, direct
host-suffix, steamgames.com, direct
host-suffix, steamusercontent, direct
host-suffix, steamcontent.com, direct
host-suffix, steamstatic.com, direct
host-suffix, akamaihd.net, direct
host-suffix, steamcommunity.com, proxy

# Epic Games
host-keyword, epicgames, direct
host-suffix, unrealengine.com, direct

# Pockyt
host-suffix, pockyt.io, direct
host-suffix, yuansfer.com, direct

# CAPTCHA
host-suffix, hcaptcha.com, direct
host-suffix, recaptcha.net, direct
host-suffix, arkoselabs.com, proxy

# CA
host, ocsp.digicert.com, direct
host-suffix, globalsign.com, direct
host-suffix, usertrust.com, direct

# AI
host, chatgpt.livekit.cloud, proxy
host-suffix, ai.com, proxy
host-suffix, algolia.net, proxy
host-suffix, api.statsig.com, proxy
host-suffix, auth0.com, proxy
host-suffix, client-api.arkoselabs.com, proxy
host-suffix, events.statsigapi.net, proxy
host-suffix, featuregates.org, proxy
host-suffix, identrust.com, proxy
host-suffix, intercom.io, proxy
host-suffix, intercomcdn.com, proxy
host-suffix, launchdarkly.com, proxy
host-suffix, oaistatic.com, proxy
host-suffix, oaiusercontent.com, proxy
host-suffix, observeit.net, proxy
host-suffix, poe.com, proxy
host-suffix, segment.io, proxy
host-keyword, openai, proxy

# Development
host-suffix, csdn.net, direct
host-suffix, 51cto.com, direct
host-suffix, gitcode.net, direct
host-suffix, runoob.com, direct
host-suffix, biancheng.net, direct
host-suffix, ruanyifeng.com, direct
host-suffix, liaoxuefeng.com, direct
host-suffix, oschina.net, direct
host-suffix, gitee.com, direct
host-suffix, cnblogs.com, direct
host-suffix, npmmirror.com, direct
host-suffix, cn.vuejs.com, direct
host-keyword, firefox, direct
host-keyword, mozilla, direct
host-suffix, vscode.dev, direct
host-suffix, github.com, proxy
host-suffix, github.dev, proxy
host-suffix, githubusercontent.com, proxy
host-suffix, ghcr.io, proxy
host-suffix, brew.sh, proxy
host-suffix, scoop.sh, proxy
host-suffix, gitlab.com, proxy
host-suffix, kaggle.com, proxy
host-suffix, leetcode.com, proxy
host-suffix, stackexchange.com, proxy
host-suffix, stackoverflow.com, proxy
host-suffix, serverfault.com, proxy
host-suffix, askubuntu.com, proxy
host-suffix, docker.com, proxy
host-suffix, docker.io, proxy
host-suffix, pypi.org, proxy
host-suffix, bitbucket.org, proxy
host-suffix, alpinelinux.org, proxy
# github.com
ip-cidr, 20.205.243.166/32, proxy

# 特殊
host-suffix, claude.ai, 美国节点
host-suffix, anthropic.com, 美国节点